.SingleItem {
    overflow: hidden;
    border: 2px solid rgb(190, 193, 196);
    width: 35%;
    margin: 1% 32.5%;
    background-color: rgb(43,48,53);
    color: rgb(190, 193, 196);
    cursor: pointer;
}

.ip {
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
}

.column {
    box-sizing: border-box;
    position: flex;
    float: left;
    text-align: left;
    width: 50%;
}

.infoList {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-left: 3%;
}

.infoList li {
    margin-left: 3%;
}

.portBox {
    position: relative;
    float: left;
    margin: 2%;
    color: rgb(43,48,53);
    width: 10%;
    height: 10%;
    text-align: center;
    background-color: rgb(190, 193, 196);
}

.userMenu {
    display: block;
}

.portBox-styled {
    text-decoration: none;
    color: rgb(33, 37, 41);
    background-color: rgb(190, 193, 196);
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1.7rem;
}