.AppNavbar {
    border-bottom: 2px solid rgb(220,53,69) ;
}

.navbar-search {
    border: 1px solid rgb(220,53,69) !important;
    border-radius: 5px !important;
    background-color: rgb(43,48,53) !important;
    margin-right: 2%;
    color: rgb(220,53,69) !important;
}

.navbar-search::placeholder {
    color: rgb(220,53,69) !important
}

.navbar-search:focus-visible {
    outline: 1px solid crimson !important;
}

.navbar-button {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-button:hover {
    color: rgb(33,37,41) !important;
}

.navbar-buttons {
    position: relative;
    float: left;
}

.navbar-name {
    color: rgb(220,53,69);
    margin-left: 2%;
    margin-right: 2%;
    
}

.navbar-form {
    float: left;
}

.flex-start {
    display: inline-flex;
    justify-content: flex-start;
}

#navbar-name-h4 {
    margin-top: 3%;
}
